<html>
  <head>
    <title>Map</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Map</h1>
    <div id="map"></div>

    <button onclick="startLocationUpdates()">Start Location Updates</button>
    <button onclick="stopLocationUpdates()">Stop Location Updates</button>

    <script>
      function updateLocation(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        // Send the latitude and longitude to the Flask backend
        $.ajax({
          type: "POST",
          url: "/update_location",
          data: { latitude: latitude, longitude: longitude },
          success: function (response) {
            console.log("Location sent to Flask backend");
          },
          error: function (xhr, status, error) {
            console.error(error);
          },
        });
      }

      function errorHandler(error) {
        console.error("Error getting location:", error.message);
      }

      function startLocationUpdates() {
        if (navigator.geolocation) {
          var watchOptions = {
            enableHighAccuracy: true,
            maximumAge: 0,
            timeout: 10000,
          };

          // Start watching for location updates
          var watchId = navigator.geolocation.watchPosition(
            updateLocation,
            errorHandler,
            watchOptions
          );
        } else {
          console.error("Geolocation is not supported by this browser.");
        }
      }

      function stopLocationUpdates() {
        // Stop watching for location updates
        navigator.geolocation.clearWatch(watchId);
      }
    </script>
  </body>
</html>
